*{ margin: 0; padding: 0; box-sizing: border-box;}

@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


// Median cut & Material design
$ebony-clay: #2e3548;
$amaranth: #ea445b;
$husk: #b39b54;
$apple: #44b234;
$dusty-gray: #a88c93;
$mystic: #ecf1f3;
$half-baked: #85c0d0;
$boston-blue: #3c7bbb;
$nomad: #baaf9f;

// Color cube
$submarine: #b2bcc3;
$persian-red: #ce442f;
$san-juan: #2f436e;
$yellow: #fbfa06;
$half-baked: #86bdcb;
$careys-pink: #d19aa1;
$forest-green: #2cb434;
$snow-drift: #f5f8f6;
$chestnut-rose: #d15961;
$azure: #365cac;
$sundance: #ceb765;


@mixin font-setup-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

@mixin font-setup-1 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

@mixin icon-place-1 {
    margin-bottom: 4px;
    margin-right: 5px;
}